# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SpeedyFishb.iml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\MyProjects\Gamedev\SpeedyFishb\.idea\.idea.SpeedyFishb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
